.navbar {
	background-color: #000;
	color:  white;
	display: inline-grid;
	grid-template-rows:  auto;
	height: 70px;
	margin-bottom: 20px;
	width: 100%;
}

.navbar li {
	  display: inline-block;
}
.navbar ul{
	line-height: 35px;
	text-align: center;
	
}